#navButton:hover{
    /* background-color:purple; */
    transform:scale(1.2);
}

#navButton, .container img, h2, h2{
    transition: ease all .5s;
}

 @media (max-width: 991px){
    #navButton{
        max-width:50px;
    } 
    .container img, #logOutButton{
        transform:scale(0.5);
    }    
}

 @media (max-width: 776px){   
    .container img, #logOutButton{
        transform:scale(0.4);
    }    
    .container h2, h1{
        display: none !important;
    }    
    /* #userDetails{
        display:none;
    } */
}

#logOutButton:hover{
    Transform: translateY(1.0em) translateX(-1.0em) scale(1.2);
    transition: ease all .25s;
}
