<body class = "body">
    <div class="container">
        <div class="logIn-planels">
            <img  [src] = "studentImage" alt="Online Student" class="logIn-img"/>
            <h2 class="logIn-header">Student</h2>
        </div>

        <div class="logIn-planels">
            <img [src] = "teacherImage" alt="Online Teacher" class="logIn-img">
            <h2 class="logIn-header">Teacher</h2>
        </div>

        <div class="logIn-planels" hover-class = >
            <img [src] = "schoolImage" alt="Online School" class="logIn-img">
            <h2 class="logIn-header">School</h2>
        </div>
    </div>
</body>