
<div class="dialog-modal">
    <div style = "background-color: #6200EE"  class="dialog-header flex align-item-center flex-wrap">
        <h2 mat-dialog-title style="padding:15px; color:white">{{data.header}}</h2>
        <!-- <span mat-dialog-close class="ml-auto close-btn" style="position: absolute; left: 0px; right: 0px;">
            <fa-icon style="color:black; font-size: 20px;" [icon]="faXmark"></fa-icon>
        </span> -->
    </div>
    <mat-dialog-content class="mat-typography">
    <h3>{{data.body}}</h3>

    <div *ngIf = "data.inputFormType ==='radio'">
        <!-- <label id="example-radio-group-label">Set Level</label> -->
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let level of data.inputFormValues" [value]="level" (change)="setLevel(level)">
                {{level}}
            </mat-radio-button>
        </mat-radio-group>
        <!-- <mat-radio-group  aria-labelledby="example-radio-group-label" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let level of data.inputFormValues" [value]="level">
                {{level}}
            </mat-radio-button>
        </mat-radio-group> -->
    </div>
    
    </mat-dialog-content>
    <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>{{data.leftButton}}</button>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial><mat-icon *ngIf="data.icon">{{data.icon}}</mat-icon> {{data.rightButton}}</button> -->
    <button mat-raised-button color="primary" [mat-dialog-close]="data.result || true" cdkFocusInitial [routerLink]="data.routerLink">{{data.rightButton}}</button>
    </mat-dialog-actions>
</div>