<div class="container">
    <app-header></app-header>
    <div class="d-flex flex-row">             
        <div class = "card col-3 text-dark bg-white shadow m-3" style="border-radius: 15px;">
            <div class="container">
                <app-navbar [currentUser] = "currentUser" [activePage]="urlAddress"></app-navbar>
            </div>
        </div>
        <div class="col-9 .bg-secondary">      
            <div class="container"> 
                
                <div  *ngIf = "urlAddress ==='/home'" >
                    <div class="text-dark card bg-white m-3 mb-4 shadow padding-3" style="border-radius: 15px;">
                        <div class="row p-3">                            
                            <div *ngFor = "let lessonType of lessonTypes" [ngStyle]="{'color':filterLessonType === lessonType ? 'blue':''}" class="filters col-3 text-center" ><h2  (click)="applyFilter(lessonType)">{{lessonType}}</h2></div>                         
                        </div>
                    </div>                
                    <div *ngFor="let lesson of lessons">
                        <div *ngIf = "lesson.classType === filterLessonType && (lesson.level.includes(currentUser.level)||!currentUser.level)">
                            <app-lesson-card [allUsers]="users" [currentUser] = "currentUser" [lesson] = "lesson"></app-lesson-card>
                        </div>
                    </div>   
                </div> 

                <div  *ngIf = "urlAddress ==='/studentlist' || urlAddress === '/teacherlist'" > 
                    <div class = "card text-dark bg-white shadow m-3 p-1" style="border-radius: 15px;">
                        <div class="row p-3">                            
                            <input class="form-control mr-sm-2" #searchStudents type="search" placeholder="Search..." aria-label="Search" (keyup) = "filterStudents(searchStudents.value)"/>                                                            
                        </div>  
                    </div>                                     
                    <div *ngFor="let user of displayUsers">
                        <div *ngIf = "user.userType === 'Student' && urlAddress ==='/studentlist'">
                            <app-user-card  [allUsers]="users" [user] = "user" [currentUser] = "currentUser"></app-user-card>
                        </div>
                        <div *ngIf = "user.userType === 'Teacher' && urlAddress === '/teacherlist'">
                            <app-user-card  [allUsers]="users" [user] = "user" [currentUser] = "currentUser"></app-user-card>
                        </div>
                    </div>   
                </div> 

                <div  *ngIf = "urlAddress ==='/myclasses'" >
                    <div class="row">
                        <div [ngClass]="currentUser.userType==='Teacher' ? 'col-10' : 'col-12'">
                            <div class="text-dark card bg-white m-3 mb-4 shadow padding-3" style="border-radius: 15px;"> 
                                <div class="row p-3">                            
                                    <div *ngFor = "let lessonDate of ['Upcoming Lessons','Past Lessons','All Lessons']" class="filters col-4 text-center" [ngStyle]="{'color':filterLessonDate === lessonDate ? 'blue':'grey'}"> <h2  (click)="applyFilterLessonDate(lessonDate)">{{lessonDate}}</h2></div>                         
                                </div>
                                <!-- <button mat-raised-button color="primary"><fa-icon [icon]="faPlus"></fa-icon> Create New Lesson</button> -->
                            </div>
                        </div>
                        <div *ngIf = "currentUser.userType==='Teacher'" class="col-2">
                            <div class="row p-3"> 
                                <button class = "btn btn-primary pt-2 pb-2 shadow"  (click)="openNewClassDialog()"><fa-icon [icon]="faPlus"></fa-icon> New Class</button>
                            </div>
                        </div>
                    </div>
                    
                                    
                    <div *ngFor="let lesson of displayLessons">
                        <div *ngIf = "currentUser.userType==='Teacher' && lesson.teacher === currentUser.name">
                            <app-lesson-card [allUsers]="users" [currentUser] = "currentUser" [lesson] = "lesson"></app-lesson-card>
                        </div>
                        <div *ngIf = "currentUser.userType==='Student' && lessonStudentsEnrolled(lesson)">
                            <app-lesson-card [allUsers]="users" [currentUser] = "currentUser" [lesson] = "lesson"></app-lesson-card>
                        </div>
                    </div>   
                </div> 

                <div  *ngIf = "urlAddress ==='/exams'" >
                    <app-exams-show [currentUser] = "currentUser"></app-exams-show>
                </div> 

            </div>
        </div>
    </div>
</div>


