<div class = "card m-3 mb-5 shadow-lg" id="lessonCard">
    <mat-chip-list style = "position:absolute; top:-5px; left:-10px" aria-label="Fish selection"><mat-chip color="accent" [selected] = "lesson.studentsEnrolled.length < lesson.maxSize">Seats: {{lesson.studentsEnrolled.length}} / {{lesson.maxSize}}</mat-chip></mat-chip-list>
    <div class = "row">
        <div class = "col-md-4">           
            <div class="row">
                <img  alt="" [src]="getImageSource()"class = "d-flex justify-content-center mb-4 img-fluid mb-4 mt-3 offset-1 rounded"/>
                <h2 class = "d-flex justify-content-center text-center mb-4 offset-1">{{lesson.teacher}}</h2>  
                <!-- <h2 class = "d-flex justify-content-center text-center mb-4 offset-1" *ngIf="page === 'studentList'">{{student}}</h2> -->
            </div>                           
        </div>
        <div class="col-md-6 offset-1">
            <div class="card-body mb-5">
                <h3 class="card-title mb-3 mt-3">{{lesson.classType}} <span *ngIf="lesson.level?.length<2">{{lesson.level}}</span></h3><hr/> 
                
                <p class ="card-text text-muted">
                    <small>{{lesson.description}}</small>
                </p>
                <h4 class="card-text d-flex justify-content-end text-center">  {{lesson.startDate}} {{lesson.startTime}}</h4>  
                <!-- <div *ngIf="page === 'studentList' || page === 'teacherList'">
                    <h2 *ngIf="page === 'studentList'">{{student}}</h2>
                    <h2 *ngIf="page === 'teacherList'">{{teacher}}</h2>
                    <p role="listitem" class = "text-muted"><fa-icon [icon]="faEarthAmericas"> </fa-icon> {{nationality}}</p>
                    <p role="listitem" class = "text-muted"><fa-icon [icon]="faAt"> </fa-icon>  {{email}}</p>
                    <p role="listitem" *ngIf="page === 'studentList'" class = "text-muted"><fa-icon [icon]="faStar"> </fa-icon> <span  *ngIf="level">{{level}}</span> <a style="text-decoration:none" href="#" *ngIf="!level"> Set level...</a></p>
                </div>                              -->
            </div> 
     
            <div class="row" style="display:flex; margin:10px;">
                <div [class]="(!currentUser || currentUser.userType==='Student') && lesson.studentsEnrolled.includes(currentUser.email) && lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!== 'View Class' ? 'col-md-10 offset-6' : 'col-md-4 offset-10'" style="display: inline-block;">
                    <button *ngIf = "(!currentUser || currentUser.userType==='Student') && !lesson.studentsEnrolled.includes(currentUser.email)" mat-raised-button color="primary" align="end" (click)="openRegisterDialog(lesson)" #tooltip="matTooltip" matTooltip="Click here to secure your place in this class" [disabled] ="lesson.studentsEnrolled.length >= lesson.maxSize"><mat-icon *ngIf="lesson.studentsEnrolled.length < lesson.maxSize">person_add</mat-icon> <span *ngIf="lesson.studentsEnrolled.length >= lesson.maxSize"> CLASS FULL</span> <span *ngIf="lesson.studentsEnrolled.length < lesson.maxSize && lesson.studentsEnrolled"> Register</span></button>
                    <button *ngIf = "(currentUser.userType==='Student') && lesson.studentsEnrolled.includes(currentUser.email) && lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!== 'View Class'" align="end" class = "m-2" mat-raised-button  style="background-color:orange;" (click)="openRegisterDialog(lesson)" #tooltip="matTooltip" matTooltip="Click here to remove yourself from this class list"><mat-icon>cancel</mat-icon>Leave class</button>
                    <button *ngIf = "(currentUser.userType==='Student') && lesson.studentsEnrolled.includes(currentUser.email)&& lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!== 'View Class'" align="end" class = "m-2" mat-raised-button  style="background-color:green;"  (click) = "openJoinClassDialog()" #tooltip="matTooltip" [disabled] = 'lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!=="Join class!!"' matTooltip="Click here to join the live class"><mat-icon>play_circle_outline</mat-icon> {{lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)}}</button>
                    <button *ngIf = "(currentUser.userType==='Student') && lesson.studentsEnrolled.includes(currentUser.email)&& lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)=== 'View Class'" align="end" class = "m-2" mat-raised-button  style="background-color:purple; color:white;" #tooltip="matTooltip" matTooltip="Click here to view the recording, homework and material from this class"><mat-icon>remove_red_eye</mat-icon> {{lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)}}</button>

                    <!-- <button *ngIf="page === 'studentList'||page === 'teacherList'" #tooltip="matTooltip" matTooltip="Message student"  mat-mini-fab style="background-color:blue;" aria-label="Example icon button with a delete icon"><mat-icon>message</mat-icon></button> -->
                    <!-- <button *ngIf="page === 'studentList'" class = "m-1" #tooltip="matTooltip" matTooltip="Edit user" mat-mini-fab style="background-color:orange;" aria-label="Example icon button with a delete icon"><mat-icon>edit</mat-icon></button> -->
                    <div *ngIf = "currentUser.userType==='Teacher' && currentUser.name===lesson.teacher">
                        <section style="display: table;">
                            <div class="example-button-row" style="display: table-cell;">
                                <div class="example-flex-container" style="  display: flex; justify-content: space-between; flex-wrap: wrap;">
                                    <button class = "m-1" *ngIf = "lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!== 'View Class'" #tooltip="matTooltip" matTooltip="Edit your class" mat-mini-fab style="background-color:orange " aria-label="Example icon button with a delete icon"><mat-icon>edit</mat-icon></button>
                                    <button class = "m-1" *ngIf = "lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)!== 'View Class'" #tooltip="matTooltip" matTooltip="Delete your class"  mat-mini-fab style="background-color:red" aria-label="Example icon button with a delete icon" (click) = deleteLesson(lesson)><mat-icon>delete</mat-icon></button>                                   
                                    <button class = "m-1" *ngIf = "lessonStartCountdown(lesson.startDate, lesson.startTime, lesson.length,lesson.Teacher)=== 'View Class'"align="end" mat-mini-fab style="background-color:purple; color:white;" #tooltip="matTooltip" matTooltip="Click here to view the recording, homework and material from this class"><mat-icon>remove_red_eye</mat-icon></button>                                   
                                </div>
                            </div>                    
                        </section>
                    </div>
                </div>
            </div>    
        </div>  
    </div>     
</div>