<!-- <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">  
        <div class="example-element-description">
          {{element['Students Enrolled']}}
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table> -->

<div>
  <div class="card mb-4 container bg-white shadow mt-3 p-5" style="border-radius: 15px;">
    <div class="row p-3">                            
      <input class="form-control mr-sm-2" #searchExams type="search" placeholder="Search" aria-label="Search" (keyup) = "filterExams(searchExams.value)"/>                                                            
    </div>
    <table class="table table-hover">

      <thead>
        <tr *ngIf="currentUser.userType === 'Student'">
          <!-- <th scope="col">#</th> -->
          <th scope="col" *ngFor ="let column of columnsToDisplayStudent">{{column}}</th>  
        </tr>
        <tr *ngIf="currentUser.userType === 'Teacher'">
          <th scope="col" *ngFor ="let column of columnsToDisplayTeacher">{{column}}</th>  
        </tr>
      </thead>

      <tbody>     
        <tr *ngFor = "let exam of tableDataFiltered">
          <!-- <th scope="row">{this.state.exams.indexOf(item) +1}</th> -->
          <td> {{exam.examName}}</td>
          <td> {{exam.examType}}</td>
          <td> <span *ngIf="exam.examTime">{{exam.examTime}}</span><span *ngIf="!exam.examTime">-</span></td>
          <td *ngIf="currentUser.userType === 'Teacher'"> <span *ngIf="exam['defaultWelcomeExam']">Yes</span><span *ngIf="!exam['defaultWelcomeExam']">No</span> </td> 
          <td *ngIf="currentUser.userType === 'Teacher'">{{exam['assignedTeacher']}}</td>
          <td *ngIf="currentUser.userType === 'Teacher'"><button class="btn btn-link" style="color: 'black';text-Decoration:'none'">{{exam['studentEnrolled']?.length}}</button></td> 
          <td *ngIf="currentUser.userType === 'Teacher'"><button class="btn btn-link" style="color: 'black';text-Decoration:'none'">{{exam['studentCompleted']?.length}}</button></td>         
          <td *ngIf="currentUser.userType === 'Student'">{{getExamResult(exam)}}</td>         
          <td>        
            <div class="example-flex-container" style="  display: flex;">
              <button *ngIf="currentUser.userType === 'Student' && getExamResult(exam)==='-'" #tooltip="matTooltip" matTooltip="Begin exam" mat-mini-fab style="background-color:blue " aria-label="Example icon button with a delete icon" (click)="openExamDialog(exam)"><mat-icon>play_circle_outline</mat-icon></button>
              <button *ngIf="currentUser.userType === 'Student' && getExamResult(exam)==='Your exam is still being marked'" #tooltip="matTooltip" matTooltip="Your exam is still being marked. Click here to view or edit your answers" mat-mini-fab style="background-color:orange " aria-label="Example icon button with a delete icon" (click)="openExamDialog(exam)"><mat-icon>hourglass_full</mat-icon></button>
              <button *ngIf="currentUser.userType === 'Student' && (getExamResult(exam)!=='Your exam is still being marked'&& getExamResult(exam)!=='-')" #tooltip="matTooltip" matTooltip="Click here to view your feedback" mat-mini-fab style="background-color:purple " aria-label="Example icon button with a delete icon" (click)="openExamDialog(exam)"><mat-icon>remove_red_eye</mat-icon></button>
              <button *ngIf="currentUser.userType === 'Teacher'" #tooltip="matTooltip" matTooltip="View exam" mat-mini-fab style="background-color:purple " aria-label="Example icon button with a delete icon" (click)="openExamDialog(exam)"><mat-icon>remove_red_eye</mat-icon></button>
              <button *ngIf="currentUser.userType === 'Teacher'" #tooltip="matTooltip" matTooltip="Edit exam" mat-mini-fab style="background-color:orange " aria-label="Example icon button with a delete icon"><mat-icon>edit</mat-icon></button>
              <button *ngIf="currentUser.userType === 'Teacher'" #tooltip="matTooltip" matTooltip="Delete exam"  mat-mini-fab style="background-color:red" aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon></button>
            </div>
          </td>         
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col offset-10">
        <button *ngIf="currentUser.userType === 'Teacher'" mat-raised-button color="basic" #tooltip="matTooltip" matTooltip="Create a new exam" (click)="openNewExamDialog()"><mat-icon>note_add</mat-icon> Create new</button>  
      </div>
    </div>   
  </div>  
</div>